# 忽略
.history
.docker/logs/nginx/*
.docker/logs/supervisor/*
.docker/logs/mysql/*
.docker/logs/mongodb/*
.docker/nginx/conf.d/*
.docker/php-fpm/sessions/*
.env
DB/*
web/php/data/*
web/php/data/cache/*
web/php/data/logs/*
web/php/data/sql/*
web/php/data/temp/*
docker-compose.yml

# 但不忽略以下檔案
!DB/
!.docker/logs/nginx/
!.docker/logs/supervisor/
!.docker/logs/mysql/
!.docker/logs/mongodb/
!.docker/nginx/conf.d/
!.docker/php-fpm/sessions/
!web/php/data/
!web/php/data/cache/
!web/php/data/logs/
!web/php/data/sql/
!web/php/data/temp/

!DB/.gitkeep
!.docker/logs/nginx/.gitkeep
!.docker/logs/supervisor/.gitkeep
!.docker/logs/mysql/.gitkeep
!.docker/logs/mongodb/.gitkeep
!.docker/nginx/conf.d/.gitkeep
!.docker/php-fpm/sessions/.gitkeep
!web/php/data/.gitkeep
!web/php/data/cache/.gitkeep
!web/php/data/logs/.gitkeep
!web/php/data/sql/.gitkeep
!web/php/data/temp/.gitkeep